*{
    margin: 0;
    padding: 0;
    background-color: rgb(11, 0, 21);
}
header{
    color: wheat;
    text-align: center;
    margin-top: 5px;
}
.header-btn button{
    background-color: rgb(14, 62, 105);
    border: none;
    border-radius: 5px;
    padding: 2px;
    width: 40%;
    color: white;
    margin-top: 5px;
}
.m1000{
    width: auto;
    background-color: wheat;
    height: 400px;
    margin: 10px;
}
#ltv01{
    color: red;
}
/*-----------news button-------*/
.news{
    display: flex;
    justify-content: space-around ;
    flex-wrap: wrap;
}
.news button{
   margin: 5px;
    display: block;
    width: 100px;
    height: 150px;
    background-color: whitesmoke;
    border-radius: 15px;
    border: none;
    overflow: hidden;

}

.news button p{
    background-color: aliceblue;
    text-align: center;

}
.news-btn-img{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    
}
.news-btn-img img{
    width: 90%;
    background-color: whitesmoke;
}
